<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<video autoplay width="400px" height="400px"></video>
<button onclick="start_camera()">Start camera</button>
<button onclick="stop_camera()">Stop camera</button>
<form action="/submit" method="post" enctype="multipart/form-data">
    <input type="file" hidden id="videoFile" name="videoFile"/>
    <button>Submit</button>
</form>
<script>
    function getSupportedMimeTypes() {
        const VIDEO_TYPES = [
            "webm",
            "mp4",
            "x-matroska",
            "ogg",
        ];
        const VIDEO_CODECS = [
            "vp9",
            "vp9.0",
            "vp8",
            "vp8.0",
            "h264",
            "h.264",
            "h265",
            "h.265",
            "avc1",
            "av1",
            "opus",
        ];

        const supportedTypes = [];
        VIDEO_TYPES.forEach((videoType) => {
            const type = `video/${videoType}`;
            VIDEO_CODECS.forEach((codec) => {
                const variations = [
                    `${type};codecs=${codec}`,
                    `${type};codecs:${codec}`,
                    `${type};codecs=${codec.toUpperCase()}`,
                    `${type};codecs:${codec.toUpperCase()}`,
                    `${type}`
                ]
                variations.forEach(variation => {
                    if(MediaRecorder.isTypeSupported(variation))
                        supportedTypes.push(variation);
                })
            });
        });
        return supportedTypes;
    }
</script>
<script>
    // https://www.html5rocks.com/en/tutorials/getusermedia/intro/
    function hasGetUserMedia() { // Check if we can access camera
        return !!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia);
    }

    function createFileList(a) {  // https://stackoverflow.com/questions/50157450/send-blob-object-with-post-form
        a = [].slice.call(Array.isArray(a) ? a : arguments)
        for (var c, b = c = a.length, d = !0; b-- && d;) d = a[b] instanceof File
        if (!d) throw new TypeError('expected argument to FileList is File or array of File objects')
        for (b = (new ClipboardEvent('')).clipboardData || new DataTransfer; c--;) b.items.add(a[c])
        return b.files
    }

    const downloadLink = document.getElementById('file');

    const constraints = {
        video: true,
        audio: true,
    };
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    const audioContext = new AudioContext();

    let shouldStop = false;
    let stopped = false;
    let supportedMimeTypes = getSupportedMimeTypes();
    console.log(supportedMimeTypes)
    const mimeType = supportedMimeTypes[0];

    const video = document.querySelector("video");  // Display

    function start_camera(){
        shouldStop = false;
        stopped = false;
        if (hasGetUserMedia()) {  // Check if browser supports recording

            // Ask for permissions and start recording, if no permission given, alert
            navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
                video.srcObject = stream;
                let microphone = audioContext.createMediaStreamSource(stream);
                window.stream = stream; // Make stream available from global context

                // This will play back audio
                //microphone.connect(audioContext.destination)

                // Media recorder will save data
                // https://developers.google.com/web/fundamentals/media/recording-video
                const options = {mimeType: mimeType};
                const recordedChunks = [];
                const mediaRecorder = new MediaRecorder(stream, options);
                mediaRecorder.addEventListener('dataavailable', function(e) {
                    if (e.data.size > 0) {
                        recordedChunks.push(e.data);
                    }

                    if(shouldStop === true && stopped === false) {
                        stopped = true;
                        if(mediaRecorder.state != 'inactive') {
                            mediaRecorder.stop();
                        }
                    }
                });

                mediaRecorder.addEventListener('stop', function() {
                    //downloadLink.href = URL.createObjectURL(new Blob(recordedChunks));
                    let extension = '';
                    if(mimeType.includes('webm'))extension = 'webm'
                    if(mimeType.includes('mp4'))extension = 'mp4'
                    if(mimeType.includes('x-matroska'))extension = 'avl'
                    if(mimeType.includes('ogg'))extension = 'ogg'
                    let file = new File([new Blob(recordedChunks)], 'filename.'+extension, {type: mimeType})
                    let input = document.getElementById('videoFile')

                    input.type = 'file'
                    input.files = createFileList(file)
                    input.hidden = true
                });

                mediaRecorder.start();

            }).catch((e)=>{
                console.log(e)
                alert("We need permission to use the camera!")
            });

        } else {
            alert("getUserMedia() is not supported by your browser");
        }
    }

    function stop_camera(){  // Stop recording stream
        shouldStop = true;
        if (window.stream) {
            window.stream.getTracks().forEach(function (track) {
                track.stop();
            });
        }
    }
</script>
</body>
</html>